@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e7f2f3;
  --color-primary-dull: #f0f0f0;
  --color-secondary: #ac81fd;
  --color-tertiary: #fadd6c;
  --color-gray-50: #7b7b7b;
}

html,
body {
  background-color: white;
  color: #2e3031;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

@layer components {
  .btn-white {
    @apply text-[14px] font-medium bg-white  px-7 py-3 rounded-full cursor-pointer;
  }

  .btn-dark {
    @apply text-[14px] font-medium bg-black/80 text-white px-7 py-3 rounded-full cursor-pointer;
  }

  .btn-light {
    @apply text-[14px] font-medium bg-primary px-7 py-3 rounded-full hover:bg-white transition-all duration-300 cursor-pointer;
  }

  .btn-outline {
    @apply text-[14px] font-medium bg-white ring-1 ring-slate-900/10 px-7 py-3 rounded-full hover:bg-primary transition-all duration-300 cursor-pointer;
  }

  .btn-secondary {
    @apply text-[14px] font-medium bg-secondary text-white px-7 py-3 rounded-full transition-all   cursor-pointer;
  }

  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-6 lg:px-12;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
}

@layer utilities {
  .h1 {
    @apply text-[45px] md:text-[56px] font-bold;
  }

  .h2 {
    @apply text-[25px] md:text-[35px] font-bold;
  }

  .h3 {
    @apply text-[24px] md:text-[28px] font-bold;
  }

  .h4 {
    @apply text-[16px] md:text-[17px] font-bold;
  }

  .h5 {
    @apply text-[14px] md:text-[15px] font-bold;
  }

  p {
    @apply leading-[1.3] text-[14px] text-gray-50;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-normal;
  }

  .regular-52 {
    @apply text-[52px] font-normal;
  }

  .regular-48 {
    @apply text-[48px] font-normal;
  }

  .regular-40 {
    @apply text-[40px] font-normal;
  }

  .regular-32 {
    @apply text-[32px] font-normal;
  }

  .regular-28 {
    @apply text-[28px] font-normal;
  }

  .regular-24 {
    @apply text-[24px] font-normal;
  }

  .regular-22 {
    @apply text-[22px] font-normal;
  }

  .regular-20 {
    @apply text-[20px] font-normal;
  }

  .regular-18 {
    @apply text-[18px] font-normal;
  }

  .regular-16 {
    @apply text-[16px] font-normal;
  }

  .regular-15 {
    @apply text-[15px] font-normal;
  }

  .regular-14 {
    @apply text-[14px] font-normal;
  }

  .medium-64 {
    @apply text-[64px] font-medium;
  }

  .medium-52 {
    @apply text-[52px] font-medium;
  }

  .medium-48 {
    @apply text-[48px] font-medium;
  }

  .medium-40 {
    @apply text-[40px] font-medium;
  }

  .medium-36 {
    @apply text-[36px] font-medium;
  }

  .medium-32 {
    @apply text-[32px] font-medium;
  }

  .medium-28 {
    @apply text-[28px] font-medium;
  }

  .medium-24 {
    @apply text-[24px] font-medium;
  }

  .medium-22 {
    @apply text-[22px] font-medium;
  }

  .medium-20 {
    @apply text-[20px] font-medium;
  }

  .medium-18 {
    @apply text-[18px] font-medium;
  }

  .medium-16 {
    @apply text-[16px] font-medium;
  }

  .medium-15 {
    @apply text-[15px] font-medium;
  }

  .medium-14 {
    @apply text-[14px] font-medium;
  }

  .bold-88 {
    @apply text-[88px] font-bold;
  }

  .bold-64 {
    @apply text-[64px] font-bold;
  }

  .bold-52 {
    @apply text-[52px] font-bold;
  }

  .bold-48 {
    @apply text-[48px] font-bold;
  }

  .bold-44 {
    @apply text-[44px] font-bold;
  }

  .bold-40 {
    @apply text-[40px] font-bold;
  }

  .bold-36 {
    @apply text-[36px] font-bold;
  }

  .bold-32 {
    @apply text-[32px] font-bold;
  }

  .bold-28 {
    @apply text-[28px] font-bold;
  }

  .bold-24 {
    @apply text-[24px] font-bold;
  }

  .bold-22 {
    @apply text-[22px] font-bold;
  }

  .bold-20 {
    @apply text-[20px] font-bold;
  }

  .bold-18 {
    @apply text-[18px] font-bold;
  }

  .bold-16 {
    @apply text-[16px] font-bold;
  }

  .bold-15 {
    @apply text-[15px] font-bold;
  }
  .bold-14 {
    @apply text-[14px] font-bold;
  }
}
